
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .card{
        @apply flex flex-col rounded-md relative
    }

}

@layer utilities {

    body{
        font-family: 'Poppins', 'sans-serif'
    }
    .card-body{
        padding: 2rem 1rem 2rem 1rem;
        flex: 1 1 auto;    
    }
    .leading-11{
        line-height: 3rem;
        letter-spacing: 0.06rem;
    }
    .scale-60{
        transform: scale(0.6);
    }
    .scale-85{
        transform: scale(0.85);
    }
    .border-3{
        border-width: 3px;
    }
}

@media (max-width: 399px) { 
    .header{
      font-size: calc(1.09rem + 0.9vw);
    }
    .intro{
        font-size: 0.778rem;
    }
}
