
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', 'sans-serif'
}
.leading-11{
    line-height: 3rem;
    letter-spacing: 0.06rem;
}
.scale-60{
    transform: scale(0.6);
}
.scale-85{
    transform: scale(0.85);
}
