
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .card{
        @apply flex flex-col rounded-md relative
    }

    .button{
        @apply px-4 py-2 mt-2 text-base font-medium
         bg-transparent text-[#ffb700] border-3 
         border-[#ffb700] hover:bg-[#ffb700] 
         hover:text-[#57475b] rounded-full md:mt-0
         md:ml-6 md:mr-6 mb-12 md:mb-0
    }

    .navbar {
        @apply flex-col grow pb-4 md:pb-0 left-0 
        md:flex md:justify-end md:flex-row md:z-[1]
    }

    .nav-link {
        @apply px-3 py-2 mt-2 text-base bg-transparent
        rounded-lg md:mt-0 md:ml-2 text-white font-normal
    }

    .nav-button {
        @apply px-4 py-2 mt-2 text-base font-medium text-gray-900
        bg-[#ffb700] rounded-full md:mt-0 md:ml-6 md:mr-6
    }

    .dropdown-button{
        @apply flex flex-row items-center w-full px-3 py-2 mt-2
        text-base font-normal text-left bg-transparent
        rounded-lg md:w-auto md:inline md:mt-0 md:ml-2
        text-white font-normal hover:text-[#ffb700]
    }

    .dropdown {
        @apply absolute right-0 w-full mt-2 origin-top-right
        rounded-md shadow-lg md:w-52
    }

    .dlink-group{
        @apply py-2 bg-white rounded-md shadow 
        text-[#57475b] font-normal border-line
    }

    .dropdown-link {
        @apply block px-4 py-2 mt-2 text-base font-normal md:mt-0 
        bg-transparent rounded-lg hover:text-[#ffb700]
    }
    
}

@layer utilities {

    body{
        font-family: 'Poppins', 'sans-serif'
    }
    .card-body{
        padding: 2rem 1rem 2rem 1rem;
        flex: 1 1 auto;    
    }
    .border-line{
        border-top: 3px solid #ffb700;
    }
    .leading-11{
        line-height: 3rem;
        letter-spacing: 0.06rem;
    }
    .scale-60{
        transform: scale(0.6);
    }
    .scale-65{
        transform: scale(0.65);
    }
    .scale-85{
        transform: scale(0.85);
    }
    .scale-70{
        transform: scale(0.7);
    }
    .scale-120{
        transform: scale(1.2);
    }
    .scale-140{
        transform: scale(1.4);
    }
    .border-3{
        border-width: 3px;
    }
    .banner-lg{
        transform: rotate(215deg) scale(.85);
    }
    .banner-lg:hover{
        transform: rotate(35deg) scale(.85);
        transition: all 0.2s ease;
    }
    .sm-one{
        transform: rotate(215deg) scale(.7);
    }
    .sm-one:hover{
        transform: rotate(35deg) scale(.7);
        transition: all 0.2s ease;
    }
    .lg-one{
        transform: rotate(215deg) scale(1.25);
    }
    .lg-one:hover{
        transform: rotate(35deg) scale(1.25);
        transition: all 0.2s ease;
    }
    .sm-two{
        transform: rotate(130deg) scale(.7);
    }
    .sm-two:hover{
        transform: rotate(310deg) scale(.7);
        transition: all 0.2s ease;
    }
    .lg-two{
        transform: rotate(130deg) scale(1.25);
    }
    .lg-two:hover{
        transform: rotate(310deg) scale(1.25);
        transition: all 0.2s ease;
    }
    .sm-three{
        transform: rotate(345deg) scale(.7);
    }
    .sm-three:hover{
        transform: rotate(135deg) scale(.7);
        transition: all 0.2s ease;
    }
    .lg-three{
        transform: rotate(345deg) scale(1.25);
    }
    .lg-three:hover{
        transform: rotate(135deg) scale(1.25);
        transition: all 0.2s ease;
    }
}

@media (max-width: 399px) { 
    .header{
      font-size: calc(1.09rem + 0.9vw);
    }
    .intro{
        font-size: 0.95rem;
        text-align: justify;
    }
}


@media (max-width: 767px) {
     .mobile-nav {
         position: fixed;
         top: 0;
         right: 0;
         left: 0;
         z-index: 2;
     }
}
