<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thate Pan Hub | About</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="../images/tph-favicon.png">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>
<body>
    
<section class="w-full text-[#57475b] bg-white mobile-nav">
  <div x-data="{ open: false }" class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-16">
    <div class="p-4 flex flex-row items-center justify-between">
      <a href="index.html" class="tracking-widest">
          <img class="w-28 md:w-36" src="../images/TPHlogo.svg" alt="Brand Logo">
      </a>
      <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline" @click="open = !open">
        <svg fill="currentColor" viewBox="0 0 20 20" class="w-8 h-8">
          <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
          <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
    <nav :class="{'flex': open, 'hidden': !open}" class="navbar md:flex">
        <a class="nav-link text-[#57475b] hover:text-[#ffb700]" href="index.html">Home</a>
      <div @click.away="open = false" class="relative" x-data="{ open: false }">
        <button @click="open = !open" class="dropdown-button text-[#57475b] hover:text-[#ffb700]">
          <span>Courses</span>
          <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
        <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="dropdown">
          <div class="dlink-group">
            <a class="dropdown-link" href="suu-sann.html">Suu Sann (Age 7-9)</a>
            <a class="dropdown-link" href="#">Lae Lar (Age 10-13)</a>
            <a class="dropdown-link" href="#">Phan Tee (Age 14-16)</a>
          </div>
        </div>
      </div>    
      <a class="nav-link text-[#ffb700] font-medium" href="#">About</a>
      <a class="nav-link text-[#57475b] hover:text-[#ffb700]" href="article.html">Insights</a>
      <a class="nav-link text-[#57475b] hover:text-[#ffb700]" href="news.html">News</a>
      <a class="nav-button bg-[#57475b] text-white" href="support-us.html">Support Us</a>
    </nav>
  </div>
</section>

<section class="w-full bg-white text-[#57475b] mb-16 md:mb-24 md:relative">
    <div class="flex flex-col md:flex-row max-w-screen-xl px-6 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-28">
        <div class="flex-col flex-grow mt-24 md:mt-0 md:flex md:justify-end md:flex-row">
            <div class="flex justify-center items-center md:mr-16">
                <img class="scale-[0.95]" src="../images/Group 1281.svg" alt="">
            </div>
        </div>
        <div class="flex-col flex-grow mt-6 md:mt-0 md:flex md:justify-start md:pr-12">
           <h2 class="flex justify-center text-3xl text-[#ffb700] md:mb-12 md:mb-0 md:justify-start md:w-[28rem] font-semibold md:pr-16 md:mb-6 leading-11">Our Story</h2>
           <p class="flex md:text-[1rem] text-[0.9rem] md:mb-12 md:mb-0 md:justify-start text-base md:w-[28rem] font-normal leading-8 intro">
            Starting as a project for children to easily learn Computer Science in Myanmar, Thate Pan Hub grew to become an established non-profit social enterprise providing not only basic Computer Science courses for free, but also courses on Artificial Intelligence and 3D Modeling.
           </p>
        </div>
    </div>
    <img class="hidden md:block absolute" style="transform: scale(.7); left: -2.3rem; z-index: 1;" src="../assets/Circuit Primary-4.svg" alt="">
    <img class="hidden md:block absolute" style="right: -5.4rem; bottom: -4rem; transform: scale(.7);" src="../assets/Circuit Primary-7.svg" alt="">
</section>

<section class="w-full bg-white text-[#57475b] mb-8 md:mb-24 md:relative">
    <div class="flex flex-col-reverse md:flex-row max-w-screen-xl px-6 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-28">
        <div class="flex-col flex-grow mt-6 md:mt-0 md:flex md:justify-start md:pr-12 md:mr-16">
           <h2 class="flex justify-center text-3xl text-[#ffb700] md:mb-12 md:mb-0 md:justify-start md:w-[28rem] font-semibold md:pr-16 md:mb-6 leading-11">Our Vision</h2>
           <p class="flex justify-center md:text-[1rem] text-[0.9rem] md:mb-12 md:mb-0 md:justify-start text-base md:w-[28rem] font-normal leading-8 intro">
            To ensure that all Myanmar children, regardless of their socioeconomic backgrounds, will get access to basic technology education which will help them reach their fullest potentials and contribute to the future development of society.
           </p>
        </div>
        <div class="flex-col flex-grow md:flex md:justify-end md:flex-row">
            <div class="flex justify-center items-center ">
                <img class="scale-100 md:scale-[1.1]" src="../images/Group 1282.svg" alt="">
            </div>
        </div>
    </div>
    <img class="hidden md:block absolute" style="transform: scale(.7); left: -6.6rem;  bottom: -10rem; z-index: 1;" src="../assets/Circuit Primary-5.svg" alt="">
    <img class="hidden md:block absolute" style="right: -2.3rem;  bottom: -15rem; transform: scale(.7); z-index: 1;" src="../assets/Circuit Primary-1.svg" alt="">
</section>

<section class="w-full bg-white text-[#57475b] mb-24 md:relative">
    <div class="flex md:flex-row flex-col max-w-screen-xl px-6 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-28">
        <div class="flex-col flex-grow md:flex md:justify-end md:flex-row">
            <div class="flex justify-center items-center md:mr-16">
                <img class="scale-[0.78]" src="../assets/Group 1304.svg" alt="">
            </div>
        </div>
        <div class="flex-col flex-grow md:flex md:justify-start md:pr-12">
           <h2 class="flex justify-center text-3xl text-[#ffb700] md:mb-12 md:mb-0 md:justify-start md:w-[28rem] font-semibold md:pr-16 md:mb-6 leading-11">Our Mission</h2>
           <p class="flex justify-center md:text-[1rem] text-[0.9rem] md:mb-12 md:mb-0 md:justify-start text-base md:w-[28rem] font-normal leading-8 intro">
            To create and deliver excellent and accessible lessons and contents which will help Myanmar children gain computer and digital literacy, and develop analytical, logical, and critical thinking skills through basic Computer Science and Artificial Intelligence Education.
           </p>
        </div>
    </div>
    <img class="hidden md:block absolute" style="transform: scale(.7); left: -2.3rem;" src="../assets/Circuit Primary-4.svg" alt="">
    <img class="hidden md:block absolute" style="right: -7rem; bottom: -2rem; transform: scale(.7);" src="../assets/Circuit Primary-2.svg" alt="">
</section>

<section class="w-full text-[#57475b] pb-20 md:relative">
    <div class="flex flex-col max-w-screen-xl px-6 mx-auto md:items-center md:justify-between md:px-6 lg:px-28 pb-12">
        <h2 class="text-center text-3xl font-semibold pb-12 text-[#ffb700]">Where We Start</h2>
        <div class="container">
            <div class="single-box">
               <div class="custom"></div>
                <div class="date-area" style="justify-content: center;">
                 <img src="../assets/Group 924.svg" style="transform: scale(.35);margin-top: -3rem;">
               </div>
                <div class="content nth py-8 md:py-4 "></div>
            </div>
            <div class="single-box box-right">
               <div class="custom"></div>
               <div class="date-area" style="justify-content: center;">
                 <img src="../assets/Group 925.svg" style="transform: scale(.35);">
               </div>
               <div class="content py-8 md:py-4 left md:right text-[#57475b]">
                   <h2 class="text-base font-semibold">Date</h2>
                   <h3 class="py-2 text-lg font-medium">Our Beginning</h3>
                   <p class="pt-2 text-base font-normal">Youths from Myanmar gather to launch the Thate Pan Hub project to provide free and accessible Computer Science education.</p>
               </div>
           </div>
           <div class="single-box">
               <div class="custom"></div>
                <div class="date-area" style="justify-content: center;">
                 <img src="../assets/Group 926.svg" style="transform: scale(.35);">
               </div>
               <div class="content py-8 md:py-4 left">
                   <h2 class="text-base font-semibold">October 12, 2020 </h2>
                   <h3 class="py-2 text-lg font-medium">Opening of Our First Class</h3>
                   <p class="pt-2 text-base font-normal">Our first class, teaching computer science over a span of 5 days, is the launchpad that has propelled us further to open more and improved classes.</p>
               </div>
           </div>
           <div class="single-box box-right">
               <div class="custom"></div>
                <div class="date-area" style="justify-content: center;">
                 <img src="../assets/Group 925.svg" style="transform: scale(.35);">
               </div>
               <div class="content py-8 md:py-4 left md:right">
                   <h2 class="text-base font-semibold">May 2, 2021</h2>
                   <h3 class="py-2 text-lg font-medium">The Launch of Zee Kwat Academy</h3>
                   <p class="pt-2 text-base font-normal">The first to branch out from Thate Pan Hub, Zee Kwat Academy's launch during a time of crisis for children to be able to continue their education is a testament to Thate Pan Hub's growing positive social impact.</p>
               </div>
           </div>
           <div class="single-box">
               <div class="custom"></div>
                <div class="date-area" style="justify-content: center;">
                 <img src="../assets/Group 926.svg" style="transform: scale(.35);">
               </div>
               <div class="content py-8 md:py-4 left">
                   <h2 class="text-base font-semibold">Date</h2>
                   <h3 class="py-2 text-lg font-medium">The Launch of Thate Pan Institute</h3>
                   <p class="pt-2 text-base font-normal">To be able to support Thate Pan Hub and Zee Kwat Academy in their missions of providing free and accessible education to children in Myanmar, Thate Pan Institute, a professional learning institution is established.</p>
               </div>
           </div>
           <div class="single-box box-right">
               <div class="custom"></div>
                <div class="date-area" style="justify-content: center;">
                 <img src="../assets/Group 925.svg" style="transform: scale(.35);">
               </div>
               <div class="content py-8 md:py-4 left md:right">
                   <h2 class="text-base font-semibold">Date</h2>
                   <h3 class="py-2 text-lg font-medium">Recognition as code.org's International Partner</h3>
                   <p class="pt-2 text-base font-normal">Growing from a project to a developed non-profit social enterprise, Thate Pan Hub partners with code.org as an international partner.</p>
               </div>
           </div>
           <div class="single-box">
             <div class="custom"></div>
              <div class="date-area" style="justify-content: center;">
               <img src="../assets/Group 926.svg" style="transform: scale(.35);">
             </div>
             <div class="content py-8 md:py-4 left">
                <h2 class="text-base font-semibold">Date</h2>
                <h3 class="py-2 text-lg font-medium">Our Next Step, Hub&Hack</h3>
                <p class="pt-2 text-base font-normal">Thate Pan Hub and Thate Pan Institute collaborate to provide an opportunity for children, the first of its kind in Myanmar—Hub&Hack, a 5-day hackathon for kids.</p>
             </div>
            </div>
            <div class="single-box box-right">
                <div class="custom"></div>
                 <div class="date-area" style="justify-content: center;">
                  <img src="../assets/Group 924.svg" style="transform: scale(.35);margin-bottom: -3rem;">
                </div>
                 <div class="content nth py-8 md:py-4 "></div>
            </div>
        </div>
       </div>
       <h2 class="text-center text-3xl font-semibold text-[#ffb700]">Where We Are</h2>
    </div>
    <img class="hidden md:block absolute" style="transform: scale(.7); top: 7rem; right: -3.1rem;" src="../assets/Circuit Primary-3.svg" alt="">
    <img class="hidden md:block absolute" style="left: -4.05rem; bottom: 10rem; transform: scale(.7) rotate(180deg);" src="../assets/Circuit Primary.svg" alt="">
</section>

<section class="w-full pt-20 pb-16" style="background: transparent linear-gradient(128deg, #EDA63F 0%, #E39C4A 14%, #CD8861 33%, #C47F6B 47%, #B26E7E 62%, #A5608D 73%, #94519E 87%, #7734BE 100%)">
    <div class="flex flex-col max-w-screen-xl px-6 mx-auto md:items-center md:justify-between md:px-6 lg:px-28 pb-16">
        <div class="w-full hidden md:flex flex-row justify-between mb-12 items-center">
            <img src="../images/TPHF Logo 2T.svg" style="transform: scale(.75); margin-left: -4rem;" alt="">
            <h5 class="text-base font-normal text-white leading-8">Today, Thate Pan Hub is not just a non-profit social enterprise. Ever since the launch of Thate Pan Hub, we have continuously strived to innovate and solve problems in our bigger community. This is why today, Thate Pan Hub is also a foundation, comprising three different enterprises—Thate Pan Hub, Zee Kwat Academy, and Thate Pan Institute.</h5>
        </div>
        <h1 class="text-center text-3xl font-semibold py-12 text-white">Enterprises Launched</h1>
        <div class="flex flex-col flex-grow md:justify-center md:items-center md:flex-row">
            <div class="w-full md:h-[37rem] text-[#57475b] bg-white rounded-md pt-12 pb-4 px-12 md:pb-12 flex flex-col justify-center items-center md:mr-8">
                <img class="scale-[.85] md:mt-[-1rem]" src="../images/TPHlogo.svg" alt="">
                <p class="text-base font-normal pt-8 pb-6 text-center leading-7" style="list-style: unset;">A non-profit social enterprise providing free Computer Science education for every child in Myanmar. Our education includes courses on</p>
                <ul style="list-style: unset;" class="mb-10 md:mb-8 ml-6">
                    <li class="mb-[0.5rem]">Basic Computer Science</li>
                    <li class="mb-[0.5rem]">Digital Literacy</li>
                    <li class="mb-[0.5rem]">Artificial Intelligence</li>
                    <li class="mb-[0.5rem]">3D Modeling</li>
                </ul>
                <a href="#" class="button text-white" style="background: transparent linear-gradient(128deg, #EDA63F 0%, #E39C4A 14%, #CD8861 33%, #C47F6B 47%, #B26E7E 62%, #A5608D 73%, #94519E 87%, #7734BE 100%); border: 0px ;">Learn More</a>
            </div>
            <div class="w-full md:h-[37rem] text-[#57475b] bg-white my-6 md:my-0 rounded-md pt-12 pb-4 px-12 md:pb-12 flex flex-col justify-center items-center md:mr-8">
                <img class="md:mt-0" src="../images/ZKApurple1.svg" alt="">
                <p class="text-base font-normal pt-8 pb-6 text-center leading-7" style="list-style: unset;">A non-profit social enterprise providing free formal education for grades 4, 6, and 7, which comes with  </p>
                <ul style="list-style: unset;" class="mb-10 md:mb-12 ml-6">
                    <li class="mb-[0.5rem]">8 important subjects</li>
                    <li class="mb-[0.5rem]">Extracurricular activities</li>
                    <li class="mb-[0.5rem]">Global languages programs</li>
                    <li class="mb-[0.5rem]">A community students can call their home</li>
                </ul>
                <a href="#" class="button text-white" style="background: transparent linear-gradient(128deg, #EDA63F 0%, #E39C4A 14%, #CD8861 33%, #C47F6B 47%, #B26E7E 62%, #A5608D 73%, #94519E 87%, #7734BE 100%);border: 0px ;">Learn More</a>
            </div>
            <div class="w-full md:h-[37rem] text-[#57475b] bg-white rounded-md pt-12 pb-4 px-12 md:pb-12 flex flex-col justify-center items-center">
                <img class="md:mt-0 scale-[.85]" src="../images/tpi logo.png" alt="">
                <p class="text-base font-normal pt-8 pb-6 text-center leading-7" style="list-style: unset;">A social enterprise supporting Thate Pan Hub's mission and providing the below for Myanmar's children and the youth.</p>
                    <ul style="list-style: unset;" class="mb-10 md:mb-4 ml-6">
                    <li class="mb-[0.5rem]">Professional computer science courses</li>
                    <li class="mb-[0.5rem]">STEAM Bootcamps</li>
                    <li class="mb-[0.5rem]">Graphic design courses</li>
                    <li class="mb-[0.5rem]">Mathematics olympiads trainings</li>
                </ul>
                <a href="#" class="button text-white" style="background: transparent linear-gradient(128deg, #EDA63F 0%, #E39C4A 14%, #CD8861 33%, #C47F6B 47%, #B26E7E 62%, #A5608D 73%, #94519E 87%, #7734BE 100%);border: 0px ;">Learn More</a>
            </div>
        </div>
    </div>
</section>
<section class="w-full text-white bg-[#57475b] pt-10 md:pt-14">
    <footer class="flex flex-col max-w-screen-xl px-6 mx-auto md:items-center md:justify-between md:px-6 lg:px-28 pb-14 pt-6 md:pt-0">
        <div class="w-full flex flex-col md:flex-row md:justify-start text-center lg:text-left">
            <div class="mb-6 md:mb-0">
                <h4 class="text-xl font-medium py-7">Contact Us</h4>
                <div class="flex flex-col md:justify-start mb-4 leading-10">
                    <a class="font-normal" href="tel:099970764070">(+95)9970764070</a>
                    <a class="font-normal" href="mailto:hello@thatepanhub.com">hello@thatepanhub.com</a>
                </div>
            </div>
            <div class="w-full flex flex-col md:flex-row md:justify-end">
                <div class="mb-6 md:mb-0">
                    <h4 class="text-xl font-medium pt-7 pb-10">Follow Us</h4>
                    <div class="flex flex-row justify-center md:justify-end mb-4 leading-10 items-center px-4 md:px-0">
                        <a class="mr-4" href="#"><img src="../images/facebook.svg" style="width:95%"></a>
                        <a class="mr-4" href="#"><img src="../images/twitter.svg" style="width:95%"></a>
                        <a class="mr-4" href="#"><img src="../images/instagram.svg" style="width:95%"></a>
                        <a class="mr-4" href="#"><img src="../images/linkedin.svg" style="width:95%"></a>
                        <a class="md:mr-4" href="#"><img src="../images/youtube.svg" style="width:95%"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <hr class="border-[#9b9b9b]"/>
    <div class="text-center p-4 text-[#ffffff] opacity-60">
        Copyright &copy; 2022 THATE PAN HUB
    </div>
</section>

</body>
</html>