<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Page Five</title>
  </head>
  <body>
    <div
      class="w-full h-full"
      style="
        background: url(https://images.unsplash.com/photo-1587538537208-28441ca4982a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjA3fHxhZXN0aGV0aWN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-size: cover;
        background-position: center;
      "
    >
      <div
        class="w-full px-6 py-16 md:px-12 lg:px-20 lg:py-24 md:pt-80 xl:px-72"
        style="background: rgba(0, 0, 0, 0.4)"
      >
        <h2 class="text-xl lg:text-3xl font-extrabold text-white text-center">
          Welcome to Dance Party
        </h2>
        <p class="mt-4 font-medium text-gray-300 text-lg text-center">
          In this lesson, you can learn how to programmatically make MYANMAR
          dance to characters. You can favoritely programme the characters and
          the dances.
        </p>
      </div>
    </div>

    <div class="my-10">
      <div class="mx-10 md:mx-16 lg:mx-24 xl:mx-72">
        <div
          class="flex items-center justify-between border-b border-b-gray-300 py-4"
        >
          <p class="text-sm">By <span class="font-bold">ABC</span></p>
          <div class="flex gap-2">
            <a href="#" class="text-gray-600 hover:text-gray-800">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z"
                />
              </svg>
            </a>
            <a href="#" class="text-gray-600 hover:text-gray-800">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7"
                />
              </svg>
            </a>
          </div>
        </div>
        <div class="py-4">
          <p class="text-sm font-bold uppercase">
            Published 27 January 2022 . 22 min read
          </p>
        </div>
      </div>

      <div class="mx-10 md:mx-16 lg:mx-24 xl:mx-72 py-8">
        <h5 class="text-lg font-bold uppercase">Undaunted</h5>
        <p class="mt-4 text-sm text-gray-700">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab
          repellendus corrupti sequi molestias rerum, optio minus enim, sint
          itaque ipsam consequatur. Fuga, aperiam? Aut pariatur corporis in,
          vitae quae perspiciatis?
        </p>
      </div>

      <div
        class="mx-6 md:mx-12 lg:mx-24 xl:mx-52 grid md:grid-cols-2 items-center justify-center gap-2 md:gap-6"
      >
        <img
          class="w-full object-cover"
          style="height: 36rem"
          src="https://images.unsplash.com/photo-1578504771781-b04176969805?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjI5fHxhZXN0aGV0aWN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60"
          alt=""
        />
        <img
          class="w-full object-cover"
          style="height: 36rem"
          src="https://images.unsplash.com/photo-1521401292936-0a2129a30b1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjU3fHxhZXN0aGV0aWN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60"
          alt=""
        />
      </div>

      <div class="mx-10 md:mx-16 lg:mx-24 xl:mx-72 py-8">
        <h5 class="text-lg font-bold uppercase">Undaunted</h5>
        <p class="mt-4 text-sm text-gray-700">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab
          repellendus corrupti sequi molestias rerum, optio minus enim, sint
          itaque ipsam consequatur. Fuga, aperiam? Aut pariatur corporis in,
          vitae quae perspiciatis? Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. Ab repellendus corrupti sequi molestias rerum, optio
          minus enim, sint itaque ipsam consequatur. Fuga, aperiam? Aut pariatur
          corporis in, vitae quae perspiciatis? Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Ab repellendus corrupti sequi molestias
          rerum, optio minus enim, sint itaque ipsam consequatur. Fuga, aperiam?
          Aut pariatur corporis in, vitae quae perspiciatis?
        </p>
      </div>

      <div class="mx-10 md:mx-16 lg:mx-24 xl:mx-72 py-8">
        <h5
          class="border-l-4 border-l-yellow-400 text-lg uppercase font-bold pl-4 py-2"
        >
          Read this next
        </h5>
        <div
          class="mt-8 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
        >
          <div class="group relative flex items-center gap-4 cursor-pointer">
            <img
              class="w-32 h-32 object-cover rounded-lg"
              src="https://images.unsplash.com/photo-1568242629525-62b0c3d77fb7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjQ0fHxhZXN0aGV0aWN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60"
              alt=""
              width="8rem"
              height="8rem"
            />
            <div
              class="absolute top-0 left-0 bg-black opacity-40 rounded-lg w-32 h-32 hidden group-hover:block"
            ></div>
            <div>
              <h3 class="text-sm font-semibold group-hover:underline">
                Announcing official Thate Pan Hub Partner
              </h3>
              <div class="mt-4 flex gap-2 items-center">
                <p class="text-sm font-semibold" style="color: #fcb615">
                  Read More
                </p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="#fcb615"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17 8l4 4m0 0l-4 4m4-4H3"
                  />
                </svg>
              </div>
            </div>
          </div>

          <div class="group relative flex items-center gap-4 cursor-pointer">
            <img
              class="w-32 h-32 object-cover rounded-lg"
              src="https://images.unsplash.com/photo-1598076972872-6755caffa4ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjUxfHxhZXN0aGV0aWN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60"
              alt=""
              width="8rem"
              height="8rem"
            />
            <div
              class="absolute top-0 left-0 bg-black opacity-40 rounded-lg w-32 h-32 hidden group-hover:block"
            ></div>
            <div>
              <h3 class="text-sm font-semibold group-hover:underline">
                Announcing official Thate Pan Hub Partner
              </h3>
              <div class="mt-4 flex gap-2 items-center">
                <p class="text-sm font-semibold" style="color: #fcb615">
                  Read More
                </p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="#fcb615"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17 8l4 4m0 0l-4 4m4-4H3"
                  />
                </svg>
              </div>
            </div>
          </div>

          <div class="group relative flex items-center gap-4 cursor-pointer">
            <img
              class="w-32 h-32 object-cover rounded-lg"
              src="https://images.unsplash.com/photo-1612871176996-4420378556be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjU1fHxhZXN0aGV0aWN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60"
              alt=""
              width="8rem"
              height="8rem"
            />
            <div
              class="absolute top-0 left-0 bg-black opacity-40 rounded-lg w-32 h-32 hidden group-hover:block"
            ></div>
            <div>
              <h3 class="text-sm font-semibold group-hover:underline">
                Announcing official Thate Pan Hub Partner
              </h3>
              <div class="mt-4 flex gap-2 items-center">
                <p class="text-sm font-semibold" style="color: #fcb615">
                  Read More
                </p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="#fcb615"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17 8l4 4m0 0l-4 4m4-4H3"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
