<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thate Pan Hub</title>
    <link rel="icon" href="../images/tph-favicon.png">
    <link rel="stylesheet" href="../owl_carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../owl_carousel/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>
<style>
    .owl-nav {
        display: none;
    }
    .owl-prev, .owl-next {
        display: none;
    }
</style>
<body>
    
<section class="w-full text-white bg-[#57475b] mobile-nav">
  <div x-data="{ open: false }" class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-16">
    <div class="p-4 flex flex-row items-center justify-between">
      <a href="#" class="tracking-widest">
          <img class="w-28 md:w-36" src="../images/TPHLogo1.svg" alt="Brand Logo">
      </a>
      <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline" @click="open = !open">
        <svg fill="currentColor" viewBox="0 0 20 20" class="w-8 h-8">
          <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
          <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
    <nav :class="{'flex': open, 'hidden': !open}" class="navbar md:flex">
        <a class="nav-link text-[#ffb700] font-medium" href="#">Home</a>
      <div @click.away="open = false" class="relative" x-data="{ open: false }">
        <button @click="open = !open" class="dropdown-button">
          <span>Courses</span>
          <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
        <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="dropdown">
          <div class="dlink-group">
            <a class="dropdown-link" href="suu-sann.html">Suu Sann (Age 7-9)</a>
            <a class="dropdown-link" href="#">Lae Lar (Age 10-13)</a>
            <a class="dropdown-link" href="#">Phan Tee (Age 14-16)</a>
          </div>
        </div>
      </div>    
      <a class="nav-link hover:text-[#ffb700]" href="about.html">About</a>
      <a class="nav-link hover:text-[#ffb700]" href="article.html">Insights</a>
      <a class="nav-link hover:text-[#ffb700]" href="news.html">News</a>
      <a class="nav-button" href="support-us.html">Support Us</a>
    </nav>
  </div>
</section>

<section class="w-full text-white bg-[#57475b]">
    <div class="flex flex-row max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-28">
        <div class="flex-col flex-grow pb-4 md:pb-0 md:flex md:justify-start">
           <h2 class="flex justify-center mt-24 md:mt-0 md:justify-start md:text-3xl text-[1.65rem] md:w-[28rem] font-semibold pb-8 text-[#ffb700] leading-11 header" style="line-height: 3rem;">Computer Science & Artificial Intelligence for Every Kid in Myanmar</h2>
           <p class="flex justify-center md:text-[1.1rem] text-[1rem] mb-12 md:mb-0 md:justify-start text-base md:w-[28rem] font-normal leading-8 intro md:pr-16">
             We're a non-profit social enterprise based
             in Myanmar, introducing Computer Science
             for kids and teenagers across Myanmar
             with carefully-tailored, interactive online
             classes for free.</p>
        </div>
        <div class="flex-col flex-grow pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row" style="margin-top: -6rem;margin-right: -6rem;">
            <button id="typewriter" class="px-4 py-2 mt-2 text-base font-medium border-3 border-[#E88868] text-[#57475b] rounded-full bg-white absolute  md:mt-0" 
            style="width: fit-content; top: 13rem; right: 8rem;">setLightSwitch(on)</button>
            <img src="../images/Group 904.svg" alt="">
        </div>
    </div>
</section>

<section class="w-full text-[#57475b]">
    <div class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:px-6 lg:px-28 md:pb-28 pb-16">
        <h1 class="text-center text-3xl font-semibold pb-10 pt-20 md:pb-44">Free Courses</h1>
        <div class="flex flex-col flex-grow md:justify-center md:items-center md:flex-row">
            <div class="flex flex-col lg:relative justify-center items-center w-full md:h-[34rem] bg-[#57475b] text-white rounded-md md:p-[4.65rem]">
                <div class="hidden lg:block">
                    <span class="jigsaw jigsaw-fill top-[9em] right-[20.1em]"></span>
                    <span class="jigsaw jigsaw-fill top-[9em] left-[20.1em]"></span>
                    <span class="jigsaw jigsaw-fill bottom-[7em] right-[20.1em]"></span>
                    <span class="jigsaw jigsaw-fill bottom-[7em] left-[20.1em]"></span>
                    <span class="jigsaw jigsaw-cut bottom-[-0.75rem] left-[3rem]"></span>
                    <span class="jigsaw jigsaw-cut bottom-[-0.75rem] right-[3rem]"></span>
                </div>
                <div class="flex justify-center items-center relative md:mt-[-14rem]">
                    <img class="absolute scale-70 lg:scale-140" src="../images/Suu Sann.svg" alt="">
                    <img class="sm-one lg:lg-one" src="../images/suusann.png" alt="">
                </div>
                <h3 class="text-xl font-semibold md:mt-16 leading-5 text-center">Suu Sann</h3>
                <h5 class="text-base font-semibold leading-11 text-center">Age 7 - 9</h5>
                <ul class="text-base font-normal leading-9 mb-8 md:mb-16 mt-4" style="list-style: unset;">
                    <li>Basic Coding for Kids 1</li>
                    <li>Basic Coding for Kids 2</li>
                    <li>Hello AI</li>
                </ul>
                <a href="#" class="button md:absolute" style="bottom: 3rem;">Learn More</a>
            </div>
            <div class="flex flex-col lg:relative justify-center items-center w-full md:h-[34rem] bg-[#57475b] text-white rounded-md my-10 md:my-0 md:mx-8 md:p-[4.65rem]">
                <div class="hidden lg:block">
                    <span class="jigsaw jigsaw-cut top-[9em] right-[19.1em]"></span>
                    <span class="jigsaw jigsaw-cut top-[9em] left-[19.1em]"></span>
                    <span class="jigsaw jigsaw-cut bottom-[7em] right-[19.1em]"></span>
                    <span class="jigsaw jigsaw-cut bottom-[7em] left-[19.1em]"></span>
                    <span class="jigsaw jigsaw-fill bottom-[-1.95rem] left-[3rem]"></span>
                    <span class="jigsaw jigsaw-fill bottom-[-1.95rem] right-[3rem]"></span>
                </div>
                <div class="flex justify-center items-center relative md:mt-[-8.5rem]">
                    <img class="absolute scale-70 lg:scale-120" src="../images/book male.svg" alt="">
                    <img class="sm-two lg:lg-two" src="../images/laelar.png" alt="">
                </div>
                <h3 class="text-xl font-semibold md:mt-16 leading-5 text-center">Lae Lar</h3>
                <h5 class="text-base font-semibold leading-11 text-center">Age 10 - 13</h5>
                <ul class="text-base font-normal leading-9 mb-8 mt-4" style="list-style: unset;">
                    <li>Basic Coding for Kids 1</li>
                    <li>Basic Coding for Kids 2</li>
                    <li>Basic Coding for Kids 3</li>
                    <li>Hello AI</li>
                    <li>3D for Kids</li>
                </ul>
                <a href="#" class="button">Learn More</a>
            </div>
            <div class="flex flex-col lg:relative justify-center items-center w-full md:h-[34rem] bg-[#57475b] text-white rounded-md md:p-[4.65rem]">
                <div class="hidden lg:block">
                    <span class="jigsaw jigsaw-fill top-[9em] right-[20.1em]"></span>
                    <span class="jigsaw jigsaw-fill top-[9em] left-[20.1em]"></span>
                    <span class="jigsaw jigsaw-fill bottom-[7em] right-[20.1em]"></span>
                    <span class="jigsaw jigsaw-fill bottom-[7em] left-[20.1em]"></span>
                    <span class="jigsaw jigsaw-cut bottom-[-0.75rem] left-[3rem]"></span>
                    <span class="jigsaw jigsaw-cut bottom-[-0.75rem] right-[3rem]"></span>
                </div>
                <div class="flex justify-center items-center relative md:mt-[-16rem]">
                    <img class="absolute scale-65 lg:scale-100" src="../images/Oo Oo playing.svg" alt="">
                    <img class="sm-three lg:lg-three" src="../images/phan-tee.png" alt="">
                </div>
                <h3 class="text-xl font-semibold md:mt-16 leading-5 text-center">Phan Tee</h3>
                <h5 class="text-base font-semibold leading-11 text-center">Age 14 - 16</h5>
                <ul class="text-base font-normal leading-9 mb-8 md:mb-16 mt-4" style="list-style: unset;">
                    <li>Basic Coding for Kids 1</li>
                    <li>Basic Coding for Kids 2</li>
                </ul>
                <a href="#" class="button md:absolute" style="bottom: 3rem;">Learn More</a>
            </div>
        </div>
    </div>
</section>

<section class="w-full text-white bg-[#E88868]">
    <div class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:px-6 lg:px-28 pb-24">
        <h1 class="text-center text-3xl font-semibold pt-24 pb-4">What We Do</h1>
        <div class="flex flex-col flex-grow md:justify-center md:items-center md:flex-row">
            <div class="w-full text-white rounded-md text-center">
                <img class="scale-[0.2] mb-[-21%] md:mb-0 md:scale-[0.42]" src="../images/educate.svg" alt="">
                <h3 class="text-2xl font-semibold mb-5 md:mt-[-1.2rem]">Educate</h3>
                <p>We educate leaders of tomorrow by providing a strong, foundational Computer Science education vital to succeed in today's technological era.</p>
            </div>
            <div class="w-full text-white rounded-md mt-[-3rem] md:mx-12 text-center">
                <img class="scale-[0.2] mb-[-38%] md:mb-0 md:scale-[0.36]" src="../images/Advocate.png" alt="">
                <h3 class="text-2xl font-semibold mb-5  md:mt-[-3.5rem]">Advocate</h3>
                <p>We advocate for Computer Science to become a core subject in Myanmar and for it to become more widespread and accessible nationwide.</p>
            </div>
            <div class="w-full text-white rounded-md mt-[-1.5rem] md:mr-12 text-center">
                <img class="scale-[0.2] mb-[-38%] md:mb-0 md:scale-[0.36]" src="../images/Empower.png" alt="">
                <h3 class="text-2xl font-semibold mb-5 md:mt-[-3.5rem]">Empower</h3>
                <p>We empower students to reach their full potential by providing opportunities to grow personally and intellectually through exploration alongside a quality education.</p>
            </div>
            <div class="w-full text-white rounded-md text-center mt-[-3rem]">
                <img class="scale-[0.2] mb-[-38%] md:mb-0 md:scale-[0.36]" src="../images/Innovate.png" alt="">
                <h3 class="text-2xl font-semibold mb-5 md:mt-[-3.5rem]">Innovate</h3>
                <p>We innovate, spearheading the spread of free, accessible technological education in Myanmar since the launch of our non-profit social enterprise.</p>
            </div>
        </div>
    </div>
</section>

<section class="relative w-full bg-[#7DCDC7] pt-20 pb-16">
    <div class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-center md:px-6 md:flex-row lg:px-28">
        <img class="absolute scale-60 hidden lg:block" style="top: -3em; right: 1.5em;" src="../images/circuit2.svg" alt="">
        <div class="w-full md:w-1/4 flex flex-col md:justify-center md:items-center">
            <div class="w-full text-white rounded-md">
                <h3 class="text-2xl font-semibold my-10 leading-10" style="letter-spacing: 0.03rem;">Thate Pan Hub <br> in Numbers</h3>
            </div>
            <div class="w-full text-white rounded-md text-center bg-white p-4 flex justify-center items-center flex-col">
                <img class="my-5 scale-85" src="../images/Working Member.svg" alt="">
                <h3 class="text-base font-normal text-[#57475b]">Working Members</h3>
                <p class="text-3xl font-bold my-5 text-[#57475b]">160+</p>
            </div>
        </div>
        <div class="w-full md:w-1/4 flex flex-col md:justify-center md:items-center md:mx-4">
            <div class="w-full mb-4 mt-4 md:mt-0 text-white rounded-md text-center bg-white text-[#57475b] p-4 flex justify-center items-center flex-col">
                <img class="my-5 scale-85" src="../images/Student.svg" alt="">
                <h3 class="text-base font-normal text-[#57475b]">Students</h3>
                <p class="text-3xl font-bold my-5 text-[#57475b]">1,104</p>
            </div>
            <div class="w-full text-white rounded-md text-center bg-white text-[#57475b] p-4 flex justify-center items-center flex-col">
                <img class="my-5 scale-90" src="../images/Course.svg" alt="">
                <h3 class="text-base font-normal text-[#57475b]">Free Courses</h3>
                <p class="text-3xl font-bold my-5 text-[#57475b]">10+</p>
            </div>
        </div>
        <div class="w-full md:w-1/4 flex flex-col md:justify-center md:items-center">
            <div class="w-full mt-4 md:mt-0 text-white rounded-md text-center bg-white text-[#57475b] p-4 flex justify-center items-center flex-col">
                <img class="my-5 scale-75" src="../images/Ed.svg" alt="">
                <h3 class="text-base font-normal text-[#57475b]">Educators Trained</h3>
                <p class="text-3xl font-bold my-5 text-[#57475b]">1,704+</p>
            </div>
            <div class="w-full text-white rounded-md">
                <h3 class="text-2xl font-semibold my-10 leading-10" style="letter-spacing: 0.03rem;">And <br> Still Counting</h3>
            </div>
        </div>
        <img class="absolute scale-60 hidden lg:block" style="bottom: -3em; left: 1.5em;" src="../images/circuit.svg" alt="">
    </div>
</section>

<section class="relative w-full text-[#57475b] pt-8 md:pt-36 md:pb-16">
    <div class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:px-6 lg:px-28 pb-16">
        <img class="absolute scale-60 hidden md:block" style="top: 0em; left: 1.5em;" src="../images/Group 913.svg" alt="">
        <div id="owl-right-slider" class="owl-carousel owl-theme flex flex-col flex-grow md:justify-center md:items-center md:flex-row">
            <div class="w-full item text-[#57475b] rounded-md p-12 flex flex-col justify-center items-center" style="border: 2.5px solid #ffb700">
                <img src="../images/profile.svg" alt="" style="width: 30%;">
                <p class="text-base font-normal py-8 text-center" style="list-style: unset;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto veniam blanditiis enim dicta amet nesciunt consectetur a tenetur. Ipsam magni quia aliquam impedit excepturi beatae necessitatibus numquam dolore earum qui?</p>
                <h3 class="text-base font-medium pt-1 leading-5 text-center">Name</h3>
                <h4 class="text-base font-normal leading-9 text-center">Managing Director</h4>
                <h5 class="text-base font-normal text-center">KST LEGAL</h5>
            </div>
            <div class="w-full item text-[#57475b] rounded-md p-12 flex flex-col justify-center items-center" style="border: 2.5px solid #ffb700">
                <img src="../images/profile.svg" alt="" style="width: 30%;">
                <p class="text-base font-normal py-8 text-center" style="list-style: unset;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto veniam blanditiis enim dicta amet nesciunt consectetur a tenetur. Ipsam magni quia aliquam impedit excepturi beatae necessitatibus numquam dolore earum qui?</p>
                <h3 class="text-base font-medium pt-1 leading-5 text-center">Name</h3>
                <h4 class="text-base font-normal leading-9 text-center">Managing Director</h4>
                <h5 class="text-base font-normal text-center">KST LEGAL</h5>
            </div>
            <div class="w-full item text-[#57475b] rounded-md p-12 flex flex-col justify-center items-center" style="border: 2.5px solid #ffb700">
                <img src="../images/profile.svg" alt="" style="width: 30%;">
                <p class="text-base font-normal py-8 text-center" style="list-style: unset;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto veniam blanditiis enim dicta amet nesciunt consectetur a tenetur. Ipsam magni quia aliquam impedit excepturi beatae necessitatibus numquam dolore earum qui?</p>
                <h3 class="text-base font-medium pt-1 leading-5 text-center">Name</h3>
                <h4 class="text-base font-normal leading-9 text-center">Managing Director</h4>
                <h5 class="text-base font-normal text-center">KST LEGAL</h5>
            </div>
            <div class="w-full item text-[#57475b] rounded-md p-12 flex flex-col justify-center items-center" style="border: 2.5px solid #ffb700">
                <img src="../images/profile.svg" alt="" style="width: 30%;">
                <p class="text-base font-normal py-8 text-center" style="list-style: unset;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto veniam blanditiis enim dicta amet nesciunt consectetur a tenetur. Ipsam magni quia aliquam impedit excepturi beatae necessitatibus numquam dolore earum qui?</p>
                <h3 class="text-base font-medium pt-1 leading-5 text-center">Name</h3>
                <h4 class="text-base font-normal leading-9 text-center">Managing Director</h4>
                <h5 class="text-base font-normal text-center">KST LEGAL</h5>
            </div>
        </div>
        <img class="absolute scale-60 hidden md:block" style="bottom: 0em; right: 1.5em;" src="../images/Group 914.svg" alt="">
    </div>
</section>

<section class="w-full text-white pb-4 md:pb-12">
    <div class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:px-6 lg:px-28 pb-16">
        <div id="owl-left-slider" class="owl-carousel owl-theme flex flex-col flex-grow md:justify-center md:items-center md:flex-row">
            <div class="w-full bg-[#57475b] rounded-md p-12 flex flex-col justify-center items-center md:mr-8">
                <img src="../images/profile.svg" alt="">
                <p class="text-base font-normal py-8 text-center" style="list-style: unset;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto veniam blanditiis enim dicta amet nesciunt consectetur a tenetur. Ipsam magni quia aliquam impedit excepturi beatae necessitatibus numquam dolore earum qui?</p>
                <h3 class="text-base font-medium pt-1 leading-5 text-center">Name</h3>
                <h4 class="text-base font-light leading-9 text-center">Brother of Student</h4>
            </div>
            <div class="w-full bg-[#57475b] my-4 md:my-0 rounded-md p-12 flex flex-col justify-center items-center md:mr-8">
                <img src="../images/profile.svg" alt="">
                <p class="text-base font-normal py-8 text-center" style="list-style: unset;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto veniam blanditiis enim dicta amet nesciunt consectetur a tenetur. Ipsam magni quia aliquam impedit excepturi beatae necessitatibus numquam dolore earum qui?</p>
                <h3 class="text-base font-medium pt-1 leading-5 text-center">Name</h3>
                <h4 class="text-base font-light leading-9 text-center">Brother of Student</h4>
            </div>
            <div class="w-full bg-[#57475b] rounded-md p-12 flex flex-col justify-center items-center">
                <img src="../images/profile.svg" alt="">
                <p class="text-base font-normal py-8 text-center" style="list-style: unset;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto veniam blanditiis enim dicta amet nesciunt consectetur a tenetur. Ipsam magni quia aliquam impedit excepturi beatae necessitatibus numquam dolore earum qui?</p>
                <h3 class="text-base font-medium pt-1 leading-5 text-center">Name</h3>
                <h4 class="text-base font-light leading-9 text-center">Brother of Student</h4>
            </div>
            <div class="w-full bg-[#57475b] rounded-md p-12 flex flex-col justify-center items-center">
                <img src="../images/profile.svg" alt="">
                <p class="text-base font-normal py-8 text-center" style="list-style: unset;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto veniam blanditiis enim dicta amet nesciunt consectetur a tenetur. Ipsam magni quia aliquam impedit excepturi beatae necessitatibus numquam dolore earum qui?</p>
                <h3 class="text-base font-medium pt-1 leading-5 text-center">Name</h3>
                <h4 class="text-base font-light leading-9 text-center">Brother of Student</h4>
            </div>
            <div class="w-full bg-[#57475b] rounded-md p-12 flex flex-col justify-center items-center">
                <img src="../images/profile.svg" alt="">
                <p class="text-base font-normal py-8 text-center" style="list-style: unset;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto veniam blanditiis enim dicta amet nesciunt consectetur a tenetur. Ipsam magni quia aliquam impedit excepturi beatae necessitatibus numquam dolore earum qui?</p>
                <h3 class="text-base font-medium pt-1 leading-5 text-center">Name</h3>
                <h4 class="text-base font-light leading-9 text-center">Brother of Student</h4>
            </div>
            <div class="w-full bg-[#57475b] rounded-md p-12 flex flex-col justify-center items-center">
                <img src="../images/profile.svg" alt="">
                <p class="text-base font-normal py-8 text-center" style="list-style: unset;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto veniam blanditiis enim dicta amet nesciunt consectetur a tenetur. Ipsam magni quia aliquam impedit excepturi beatae necessitatibus numquam dolore earum qui?</p>
                <h3 class="text-base font-medium pt-1 leading-5 text-center">Name</h3>
                <h4 class="text-base font-light leading-9 text-center">Brother of Student</h4>
            </div>
        </div>
    </div>
</section>

<section class="w-full text-white bg-[#E88868]">
    <div class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:px-6 lg:px-28">
        <h2 class="text-center text-2xl md:text-4xl font-medium pt-20 pb-16 leading-11">
           We're building even more initiatives <br> to make a bigger impact.
        </h2>
    </div>
</section>

<section class="w-full pt-20">
    <div class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:px-6 lg:px-28 pb-16">
        <div class="flex flex-col flex-grow md:justify-center md:items-center md:flex-row">
            <div class="flex justify-center md:justify-end md:basis-1/2">
                <img class=" w-full object-cover md:h-full md:w-96" src="../images/ZKA home.svg" style="width:35rem">
            </div>
            <div class="flex md:justify-around flex-col md:basis-1/2 p-4 md:p-0 md:pl-12">
                <img class="w-56" src="../images/ZKApurple1.svg">
                <p class="text-lg text-[#57475b] py-8">
                    Non-profit social enterprise, a branch of Thate Pan
                    Hub, which is dedicated to provide free formal
                    education in a modern way to all the children from
                    different diversity and backgrounds.
                </p>
                <a href="#" class="button text-[#57475b] w-fit m-0" >Learn More &rarr;</a>
            </div>
        </div>
    </div>
</section>

<section class="w-full text-[#57475b] bg-[#ffb700] pb-12">
    <div class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:px-6 lg:px-28 pb-16">
        <h1 class="text-center text-3xl font-semibold pt-20 pb-16">Latest News</h1>
        <div class="w-full flex flex-col flex-grow md:justify-center md:items-center md:flex-row">
            <div class="card bg-black md:mr-8 overflow-hidden">
                <div class="group">
                  <img class="w-full h-56 hover:opacity-50 hover:scale-140 transition-all duration-500 ease-in-out" style="border-radius: 1.8% 1.8% 0 0" src="../images/nature.jfif" alt="">
                  <div class="absolute top-4 right-4 gap-2 hidden group-hover:flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="#fff">
                        <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                        <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd"/>
                    </svg>
                    <p class="text-white text-sm font-normal">3 minutes</p>
                  </div>
                </div>
                <div class="card-body overflow-hidden bg-white z-[1]">
                   <p class="text-sm font-normal">21 January 2022</p>
                   <h3 class="text-lg font-semibold pt-3 pb-5">Announcing official <br>Thate Pan Hub Partner</h3>
                   <a class="text-base text-[#ffb700] font-medium" href="four.html">Read More &rarr;</a>
                </div>
            </div>
            <div class="card bg-black my-12 md:my-0 md:mr-8 overflow-hidden">
                <div class="w-full group">
                    <img class="w-full h-56 hover:opacity-50 hover:scale-140 transition-all duration-500 ease-in-out" style="border-radius: 1.8% 1.8% 0 0" src="../images/nature.jfif" alt="">
                    <div class="absolute top-4 right-4 gap-2 hidden group-hover:flex items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="#fff">
                          <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                          <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd"/>
                      </svg>
                      <p class="text-white text-sm font-normal">3 minutes</p>
                    </div>
                  </div>
                <div class="card-body overflow-hidden bg-white z-[1]">
                   <p class="text-sm font-normal">21 January 2022</p>
                   <h3 class="text-lg font-semibold pt-3 pb-5">Announcing official <br>Thate Pan Hub Partner</h3>
                   <a class="text-base text-[#ffb700] font-medium" href="four.html">Read More &rarr;</a>
                </div>
            </div>
            <div class="w-full flex flex-col md:justify-center md:items-center md:w-[32rem]">
                <div class="card shadow-none md:flex-row justify-center items-center overflow-hidden">
                    <img class="w-[95%] md:w-40 rounded-lg hover:opacity-0 hover:scale-110 transition-all duration-500 ease-in-out" src="../images/nature.jfif" alt="">
                    <div class="card-body" style="padding: 0 1rem 0 1rem">
                        <h3 class="mt-4 md:mt-0">Lorem ipsum dolor, sit amet
                            consectetur adipisicing dolor
                            ipsum dolor elit.</h3>
                        <p class="text-white mt-2 mb-4 md:mb-0">January 1, 2022</p>
                    </div>
                </div>
                <div class="card shadow-none md:flex-row my-8 justify-center items-center overflow-hidden">
                    <img class="w-[95%] md:w-40 rounded-lg hover:opacity-0 hover:scale-110 transition-all duration-500 ease-in-out" src="../images/nature.jfif" alt="">
                    <div class="card-body" style="padding: 0 1rem 0 1rem">
                        <h3 class="mt-4 md:mt-0">Lorem ipsum dolor, sit amet
                            consectetur adipisicing dolor
                            ipsum dolor elit.</h3>
                        <p class="text-white mt-2 mb-4 md:mb-0">January 1, 2022</p>
                    </div>
                </div>
                <div class="card shadow-none md:flex-row justify-center items-center overflow-hidden">
                    <img class="w-[95%] md:w-40 rounded-lg hover:opacity-0 hover:scale-110 transition-all duration-500 ease-in-out" src="../images/nature.jfif" alt="">
                    <div class="card-body" style="padding: 0 1rem 0 1rem">
                        <h3 class="mt-4 md:mt-0">Lorem ipsum dolor, sit amet
                            consectetur adipisicing dolor
                            ipsum dolor elit.</h3>
                        <p class="text-white mt-2 mb-4 md:mb-0">January 1, 2022</p>
                    </div>
                </div>
                <a class="w-full mt-4 text-base font-medium"href="four.html">See More</a>
            </div>
        </div>
    </div>
</section>

<section class="w-full text-white pt-20 pb-16">
    <div class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:px-6 lg:px-28 pb-16">
        <h1 class="text-center text-3xl text-[#57475b] font-semibold mb-12">International Partner</h1>
        <div class="flex flex-col flex-grow md:justify-center md:items-center md:flex-row">
            <div class="w-full flex flex-col justify-center items-center md:mr-8">
                <img class="scale-105 hover:scale-110" src="../images/code org.png" alt="">
            </div>
            <div class="w-full flex flex-col justify-center items-center my-10 md:my-0 md:mr-8">
                <img class="w-44 scale-95 hover:scale-100" src="../assets/SAP.png" alt="">
            </div>
            <div class="w-full flex flex-col justify-center items-center">
                <img class="scale-85 md:scale-90 hover:scale-95 " src="../images/asean foundation.png" alt="">
            </div>
        </div>
    </div>
    <div class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:px-6 lg:px-28 pb-4 md:pb-0">
        <h1 class="text-center text-3xl text-[#57475b] font-semibold my-6">Local Partner</h1>
        <div class="flex flex-col flex-grow md:justify-center md:items-center md:flex-row">
            <div class="w-full flex flex-col justify-center items-center mt-12 md:mt-0 md:mr-8">
                <img class="w-24 md:w-26 hover:scale-110" src="../assets/TTC.png" alt="">
            </div>
            <div class="w-full flex flex-col justify-center items-center mt-8 md:mt-0 md:mr-8">
                <img class="w-40 hover:scale-110" src="../assets/MYEO.png" alt="">
            </div>
            <div class="w-full flex flex-col justify-center items-center mt-4 md:mt-0 md:mr-8">
                <img class="w-48 md:w-96 hover:scale-110" src="../assets/SUM Logo Transparent.png" alt="">
            </div>
            <div class="w-full flex flex-col justify-center items-center mt-8 md:mt-0 md:mr-8">
                <img class="w-32 hover:scale-110" src="../assets/Parami.png" alt="">
            </div>
            <div class="w-full flex flex-col justify-center items-center mt-16 md:mt-0 md:mr-8">
                <img class="w-40 hover:scale-110" src="../assets/Piti.png" alt="">
            </div>
        </div>

        <div class="flex flex-col flex-grow md:justify-center md:items-center md:flex-row mt-12 ">
            <div class="w-full flex flex-col justify-center items-center mt-16 md:mt-0 md:ml-[1.5rem] md:mr-[4.5rem]">
                <img class="w-24 md:w-26 hover:scale-110" src="../assets/U report Myanmar.png" alt="">
            </div>
            <div class="w-full flex flex-col justify-center items-center mt-16 md:mt-0 md:mr-28">
                <img class="w-28 hover:scale-110" src="../images/rise.png" alt="">
            </div>
            <div class="w-full flex flex-col justify-center items-center mt-16 md:mt-0">
                <img class="w-32 md:w-60 md:ml-[-4rem] hover:scale-110" src="../assets/mental heal logo.png" alt="">
            </div>
            <div class="w-full flex flex-col justify-center items-center mt-16 md:mt-0 md:mr-24">
                <img class="w-20 md:ml-20 md:w-[5.5rem] hover:scale-110" src="../assets/We Are B Lone.png" alt="">
            </div>
            <div class="w-full flex flex-col justify-center items-center mt-16 md:mt-0 md:mr-[4.5rem]">
                <img class="w-28 hover:scale-110" src="../images/sif.jfif" alt="">
            </div>
        </div>

        <div class="flex flex-col flex-grow md:justify-center md:items-center md:flex-row mt-8 md:mt-12">
            <div class="w-full flex flex-col justify-center items-center md:mr-0">
                <img class="w-48 md:w-full hover:scale-110" src="../assets/Nutrilin.png" alt="">
            </div>
            <div class="w-full flex flex-col justify-center items-center mt-[-1.5rem] md:mt-0 md:mr-24">
                <img class="w-48 md:w-44 md:ml-20 md:mr-[-1rem] hover:scale-110" src="../assets/Vicee-Logo.jpg" alt="">
            </div>
            <div class="w-full flex flex-col justify-center items-center mt-6 md:mt-0 md:mr-20">
                <img class="w-48 md:w-92 hover:scale-110" src="../assets/EC LOGO (1).png" alt="">
            </div>
            <div class="w-full flex flex-col justify-center items-center mt-8 md:mt-0">
                <img class="w-48 hover:scale-110" src="../assets/KST Legal.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="w-full text-white bg-[#57475b] pt-10 md:pt-20">
    <footer class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:px-6 lg:px-28 pb-16 pt-6 md:pt-0">
        <div class="w-full flex flex-col md:flex-row md:justify-start text-center lg:text-left">
            <div class="mb-6 md:mb-0">
                <h4 class="text-xl font-medium py-7">Contact Us</h4>
                <div class="flex flex-col md:justify-start mb-4 leading-10">
                    <a class="font-normal" href="tel:099970764070">(+95)9970764070</a>
                    <a class="font-normal" href="mailto:hello@thatepanhub.com">hello@thatepanhub.com</a>
                </div>
            </div>
            <div class="w-full flex flex-col md:flex-row md:justify-end">
                <div class="mb-6 md:mb-0">
                    <h4 class="text-xl font-medium pt-7 pb-10">Follow Us</h4>
                    <div class="flex flex-row justify-center md:justify-end mb-4 leading-10 items-center px-4 md:px-0">
                        <a class="mr-4" href="#"><img src="../images/facebook.svg"></a>
                        <a class="mr-4" href="#"><img src="../images/twitter.svg"></a>
                        <a class="mr-4" href="#"><img src="../images/instagram.svg"></a>
                        <a class="mr-4" href="#"><img src="../images/linkedin.svg"></a>
                        <a class="md:mr-4" href="#"><img src="../images/youtube.svg"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <hr class="border-[#9b9b9b]"/>
    <div class="text-center p-4 text-[#9b9b9b]">
        Copyright &copy; 2022 THATE PAN HUB
    </div>
</section>

<script src="./js/typewriter.js"></script>
<script src="../owl_carousel/dist/owl.carousel.min.js"></script>
<script src="./js/carousel-control.js"></script>
</body>
</html>