<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Page Seven</title>
  </head>
  <body>
    <div class="py-20 px-44 flex items-center gap-20">
      <div class="w-1/2 h-full">
        <h2 class="text-2xl font-bold" style="color: #fcb615">Giving</h2>
        <p class="mt-4 text-md">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore at
          tenetur eius iste repudiandae accusamus provident ipsum id magnam enim
          beatae voluptas consequatur, omnis animi repellat, porro ea. Odio,
          minus! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Distinctio possimus accusantium nulla harum voluptatem? Ratione vel,
          nihil doloremque dolore hic qui, mollitia expedita, ab sequi rerum
          aspernatur culpa esse sunt!
        </p>
      </div>
      <div class="w-1/2 h-72 bg-gray-200"></div>
    </div>

    <div class="py-20 px-44 flex items-center gap-20">
      <div class="w-1/2 h-72 bg-gray-200"></div>
      <div class="w-1/2 h-full">
        <div class="flex flex-col gap-6">
          <div class="flex gap-8">
            <div class="w-28 h-16 bg-gray-200"></div>
            <div class="flex flex-col gap-2">
              <p class="font-xs text-gray-400 font-normal">Name</p>
              <p class="font-md text-black font-semibold">
                0000 - 0000 - 0000 - 0000
              </p>
            </div>
          </div>

          <div class="flex gap-8">
            <div class="w-28 h-16 bg-gray-200"></div>
            <div class="flex flex-col gap-2">
              <p class="font-xs text-gray-400 font-normal">Name</p>
              <p class="font-md text-black font-semibold">
                0000 - 0000 - 0000 - 0000
              </p>
            </div>
          </div>

          <div class="flex gap-8">
            <div class="w-28 h-16 bg-gray-200"></div>
            <div class="flex flex-col gap-2">
              <p class="font-xs text-gray-400 font-normal">Name</p>
              <p class="font-md text-black font-semibold">
                0000 - 0000 - 0000 - 0000
              </p>
            </div>
          </div>

          <div class="flex gap-8">
            <div class="w-28 h-16 bg-gray-200"></div>
            <div class="flex flex-col gap-2">
              <p class="font-xs text-gray-400 font-normal">Name</p>
              <p class="font-md text-black font-semibold">
                0000 - 0000 - 0000 - 0000
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="py-20 px-44">
      <h2 class="text-2xl font-bold">Donor List</h2>
      <div class="mt-8 w-full h-96 bg-gray-200"></div>
    </div>
  </body>
</html>
