<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thate Pan Hub | Suu Sann</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="../images/tph-favicon.png">
    <link rel="stylesheet" href="../owl_carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../owl_carousel/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/bbdccb4e58.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>
<style>
  .owl-stage-outer {
        padding: 1rem 0 1rem 0;
    }
    .owl-theme .owl-nav {
    margin-top: 4rem;
    }
    .owl-nav {
        font-size: 61px;
        position: absolute;
        top: 6rem!important;
    }
    .owl-prev {
        margin-left: -2.4rem!important;
    }
    .owl-next {
        margin-left: 54rem!important;
    }
</style>
<body>
    
<section class="w-full text-[#57475b] bg-white mobile-nav">
  <div x-data="{ open: false }" class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-16">
    <div class="p-4 flex flex-row items-center justify-between">
      <a href="index.html" class="tracking-widest">
          <img class="w-28 md:w-36" src="../images/TPHlogo.svg" alt="Brand Logo">
      </a>
      <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline" @click="open = !open">
        <svg fill="currentColor" viewBox="0 0 20 20" class="w-8 h-8">
          <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
          <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
    <nav :class="{'flex': open, 'hidden': !open}" class="navbar md:flex">
        <a class="nav-link text-[#57475b] hover:text-[#ffb700]" href="index.html">Home</a>
      <div @click.away="open = false" class="relative" x-data="{ open: false }">
        <button @click="open = !open" class="dropdown-button text-[#ffb700] font-medium">
          <span>Courses</span>
          <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
        <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="dropdown">
          <div class="dlink-group">
            <a class="dropdown-link" href="#">Suu Sann (Age 7-9)</a>
            <a class="dropdown-link" href="#">Lae Lar (Age 10-13)</a>
            <a class="dropdown-link" href="#">Phan Tee (Age 14-16)</a>
          </div>
        </div>
      </div>    
      <a class="nav-link text-[#57475b] hover:text-[#ffb700]" href="about.html">About</a>
      <a class="nav-link text-[#57475b] hover:text-[#ffb700]" href="article.html">Insights</a>
      <a class="nav-link text-[#57475b] hover:text-[#ffb700]" href="news.html">News</a>
      <a class="nav-button bg-[#57475b] text-white" href="support-us.html">Support Us</a>
    </nav>
  </div>
</section>

<section class="w-full bg-white text-[#57475b]">
    <div class="flex flex-col-reverse md:flex-row max-w-screen-xl md:my-16 px-6 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-28">
        <div class="flex-col flex-grow pb-4 md:pb-0 md:flex md:justify-start mb-8 md:mb-0 md:pr-12">
           <h1 class="flex justify-center py-4 md:pt-0 md:justify-start md:text-5xl text-[1.65rem] md:w-[28rem] font-semibold md:pb-8 text-[#ffb700] header" style="line-height: 1rem;">Suu Sann</h1>
           <h2 class="flex justify-center md:text-[1.4rem] text-[1.3rem] text-[#7DCDC7] md:mb-12 md:mb-0 md:justify-start text-base md:w-[28rem] font-semibold leading-8 intro md:pr-16 md:mb-6">Age 7 - 9</h2>
           <h2 class="flex justify-center py-4 md:py-0 md:text-[1.1rem] text-[1rem] md:mb-12 md:mb-0 md:justify-start text-base md:w-[28rem] font-semibold leading-8 intro md:pr-16 md:mb-4">About this Course</h2>
           <p class="flex justify-center md:text-[1rem] text-[0.9rem] mb-12 md:mb-0 md:justify-start text-base md:w-[31rem] font-normal leading-8 intro">
            These little explorers tend to have complex ideas and don't
            hesitate to ask questions to figure out how things work. Our
            courses introduce the fundamental concepts of Computer
            Science and AI, providing kids a new world to explore with
            endless possibilities. The lessons also teach them to 
            meaningfully collaborate with others and face challenging
            tasks with different problem-solving techniques & critical 
            thinking.</p>
            <div class="flex flex-row items-center mt-8">
                <img class="course-icon-align" src="../images/Group 918.svg" alt="">
                <p class="mr-8 icon-gap font-semibold text-base">Beginner Level</p>
                <img class="course-icon-align" src="../images/Group 920.svg" alt="">
                <p class="font-semibold text-base">Approx.61 hours to complete</p>
            </div>
            <div class="flex flex-row items-center my-4">
              <img class="course-icon-align" src="../images/Group 919.svg" alt="">
              <p class="mr-8 icon-gap md:mr-12 font-semibold text-base">100 % Online</p>
              <img class="course-icon-align" src="../images/Group 921.svg" alt="">
              <p class="font-semibold text-base">Myanmar</p>
          </div>
        </div>
        <div class="flex-col flex-grow pb-4 mt-28 md:mt-0 md:pb-0 md:ml-8 md:flex md:justify-end md:flex-row">
            <div class="flex justify-center items-center relative md:mt-[-5rem]">
                <img class="absolute scale-90 scale-130" src="../images/Suu Sann.svg" alt="">
                <img class="banner-lg banner-sm" src="../images/suusann.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="w-full bg-[#57475b] text-white pb-20">
    <h1 class="text-center text-2xl md:text-3xl font-semibold px-6 md:px-0 pb-8 pt-20">What you will learn from this course</h1>
    <div class="flex flex-col max-w-screen-xl px-6 mx-auto md:items-center md:justify-between md:px-6 lg:px-56">
        <div class="course-card bg-[#E88868] p-12 mt-8">
            <div class="hidden md:flex side-item">
                <h3 class="text-lg font-normal mb-6">LEVEL</h3>
                <h5 class="text-5xl font-semibold">1</h5>
            </div>
            <h1 class="md:hidden text-xl text-left font-semibold leading-10">LEVEL 1</h1>
            <div class="flex-col w-full md:w-[80%] course-content">
                <div class="w-full flex flex-row justify-between mb-4 course-detail">
                    <h3 class="text-xl font-semibold course-title">Basic Coding for Kids 1</h3>
                    <h5 class="text-base font-normal course-duration"><i class="far fa-clock"></i> &nbsp;23 hours</h5>
                </div>
                <p class="text-base font-normal">
                    This course is an introductory computer science and
                    programming basic course. Students will develop their
                    understanding of the basic concepts such as sequencing,
                    programming, loops, and events with helpful videos and
                    puzzles using Code.org.
                </p>
            </div>
        </div>
        <div class="course-card bg-[#7DCDC7] p-12 mt-8">
          <div class="hidden md:flex side-item">
              <h3 class="text-lg font-normal mb-6">LEVEL</h3>
              <h5 class="text-5xl font-semibold">2</h5>
          </div>
          <h1 class="md:hidden text-xl text-left font-semibold leading-10">LEVEL 2</h1>
          <div class="flex-col w-full md:w-[80%] course-content">
              <div class="w-full flex flex-row justify-between mb-4 course-detail">
                  <h3 class="text-xl font-semibold course-title">Basic Coding for Kids 2</h3>
                  <h5 class="text-base font-normal course-duration"><i class="far fa-clock"></i> &nbsp;21 hours</h5>
              </div>
              <p class="text-base font-normal">
                This course will further develop students' ideas of block
                programming and digital literacy. By the end of the course,
                students will know problem-solving methods and be able
                to create interactive projects that they can.
              </p>
          </div>
        </div>
      <div class="course-card bg-[#FFB700] p-12 mt-8">
        <div class="hidden md:flex side-item py-16">
            <h3 class="text-lg font-normal mb-6">LEVEL</h3>
            <h5 class="text-5xl font-semibold">3</h5>
        </div>
        <h1 class="md:hidden text-xl text-left font-semibold leading-10">LEVEL 3</h1>
        <div class="flex-col w-full md:w-[80%] course-content">
            <div class="w-full flex flex-row justify-between mb-4 course-detail">
                <h3 class="text-xl font-semibold course-title">Hello AI</h3>
                <h5 class="text-base font-normal course-duration"><i class="far fa-clock"></i> &nbsp;17 hours</h5>
            </div>
            <p class="text-base font-normal mb-4">
                In this course, the concepts of AI such as AI Fundamentals,
                Supervised Learning, Unsupervised Learning, Reinforcement
                Learning, Understanding and Generating Language, and AI 
                Ethics are introduced.  
            </p>
            <p class="text-base font-normal w-full">
              Students will be able to
              <div class="w-full">
                <p>1. Understand the basic concepts of Artificial Intelligence</p> 
                <p>2. Know the applications of AI</p>
                <p>3. Explain AI to other people</p>
              </div>
            </p>
        </div>
      </div>     
    </div>
</section>

<section class="w-full bg-white py-20 relative">
    <!-- <img class="absolute custom-prev" src="../images/Group 922.svg" alt=""> -->
    <div id="full-slider" class="owl-carousel owl-theme flex flex-col max-w-screen-xl px-6 mx-auto md:items-center md:justify-between md:px-6 lg:px-56">
        <div class="course-card py-8 md:p-12 md:mt-8 text-[#57475b] flex flex-col font-medium leading-8" style="box-shadow: 0px 0px 8px gray;">
            <p class="px-14">This course will further develop students' ideas of block programming
            and digital literacy. By the end of the course, students will know 
            problem-solving methods and be able to create interactive projects
            that they can share.</p>
            <div class="flex flex-row justify-center items-center px-14 md:px-0 mt-8">
              <img src="../images/profile.svg" class="mr-6"  alt="" style="width: 30%!important">
              <div class="w-full flex flex-col justify-center">
                 <h3 class="text-base font-medium pt-1 leading-9">Name</h3>
                 <h4 class="text-base font-light">Brother of Student</h4>
              </div>
            </div>
        </div>
        <div class="course-card py-8 md:p-12 md:mt-8 text-[#57475b] flex flex-col font-medium leading-8" style="box-shadow: 0px 0px 8px gray;">
          <p class="px-14">This course will further develop students' ideas of block programming
          and digital literacy. By the end of the course, students will know 
          problem-solving methods and be able to create interactive projects
          that they can share.</p>
        <div class="flex flex-row justify-center items-center px-14 md:px-0 mt-8">
            <img src="../images/profile.svg" class="mr-6"  alt="" style="width: 30%!important">
            <div class="w-full flex flex-col justify-center">
               <h3 class="text-base font-medium pt-1 leading-9">Name</h3>
               <h4 class="text-base font-light">Brother of Student</h4>
            </div>
          </div>
      </div>
      <div class="course-card py-8 md:p-12 md:mt-8 text-[#57475b] flex flex-col font-medium leading-8" style="box-shadow: 0px 0px 8px gray;">
        <p class="px-14">This course will further develop students' ideas of block programming
        and digital literacy. By the end of the course, students will know 
        problem-solving methods and be able to create interactive projects
        that they can share.</p>
      <div class="flex flex-row justify-center items-center px-14 md:px-0 mt-8">
          <img src="../images/profile.svg" class="mr-6"  alt="" style="width: 30%!important">
          <div class="w-full flex flex-col justify-center">
             <h3 class="text-base font-medium pt-1 leading-9">Name</h3>
             <h4 class="text-base font-light">Brother of Student</h4>
          </div>
        </div>
      </div>
      <div class="course-card py-8 md:p-12 md:mt-8 text-[#57475b] flex flex-col font-medium leading-8" style="box-shadow: 0px 0px 8px gray;">
        <p class="px-14">This course will further develop students' ideas of block programming
        and digital literacy. By the end of the course, students will know 
        problem-solving methods and be able to create interactive projects
        that they can share.</p>
        <div class="flex flex-row justify-center items-center px-14 md:px-0 mt-8">
          <img src="../images/profile.svg" class="mr-6"  alt="" style="width: 30%!important">
          <div class="w-full flex flex-col justify-center">
             <h3 class="text-base font-medium pt-1 leading-9">Name</h3>
             <h4 class="text-base font-light">Brother of Student</h4>
          </div>
        </div>
    </div>
    <div class="course-card py-8 md:p-12 md:mt-8 text-[#57475b] flex flex-col font-medium leading-8" style="box-shadow: 0px 0px 8px gray;">
      <p class="px-14">This course will further develop students' ideas of block programming
      and digital literacy. By the end of the course, students will know 
      problem-solving methods and be able to create interactive projects
      that they can share.</p>
      <div class="flex flex-row justify-center items-center px-14 md:px-0 mt-8">
        <img src="../images/profile.svg" class="mr-6"  alt="" style="width: 30%!important">
        <div class="w-full flex flex-col justify-center">
           <h3 class="text-base font-medium pt-1 leading-9">Name</h3>
           <h4 class="text-base font-light">Brother of Student</h4>
        </div>
      </div>
  </div>
    </div>
    <button type="button" role="presentation"><span aria-label="Next"> 
    <!-- <img class="absolute custom-next owl-next" type="button" src="../images/Group 923.svg" alt=""> -->
  </span></button>
</section>

<section class="w-full text-white bg-[#57475b] pt-10 md:pt-14">
  <footer class="flex flex-col max-w-screen-xl px-6 mx-auto md:items-center md:justify-between md:px-6 lg:px-28 pb-14 pt-6 md:pt-0">
      <div class="w-full flex flex-col md:flex-row md:justify-start text-center lg:text-left">
          <div class="mb-6 md:mb-0">
              <h4 class="text-xl font-medium py-7">Contact Us</h4>
              <div class="flex flex-col md:justify-start mb-4 leading-10">
                  <a class="font-normal" href="tel:099970764070">(+95)9970764070</a>
                  <a class="font-normal" href="mailto:hello@thatepanhub.com">hello@thatepanhub.com</a>
              </div>
          </div>
          <div class="w-full flex flex-col md:flex-row md:justify-end">
              <div class="mb-6 md:mb-0">
                  <h4 class="text-xl font-medium pt-7 pb-10">Follow Us</h4>
                  <div class="flex flex-row justify-center md:justify-end mb-4 leading-10 items-center px-4 md:px-0">
                      <a class="mr-4" href="#"><img src="../images/facebook.svg" style="width:95%"></a>
                      <a class="mr-4" href="#"><img src="../images/twitter.svg" style="width:95%"></a>
                      <a class="mr-4" href="#"><img src="../images/instagram.svg" style="width:95%"></a>
                      <a class="mr-4" href="#"><img src="../images/linkedin.svg" style="width:95%"></a>
                      <a class="md:mr-4" href="#"><img src="../images/youtube.svg" style="width:95%"></a>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <hr class="border-[#9b9b9b]"/>
  <div class="text-center p-4 text-[#ffffff] opacity-60">
      Copyright &copy; 2022 THATE PAN HUB
  </div>
</section>

<script src="../owl_carousel/dist/owl.carousel.min.js"></script>
<script src="./js/carousel-control.js"></script>
</body>
</html>